{% extends 'blog/base.html' %}

{% block content %}

    {% for project in Projects %}
    <div class="card">
            <div class="container">
                <img class="card-img" src="{{ project.image.url }}" alt="Card image" width="600" height="700">
                <div class="card-img-overlay">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <p class="card-text">{{ project.date }}</p>
                </div> 
                <a href="" class="btn btn-primary">Read</a>
            </div> 
    </div>
    {% endfor %}

{% endblock %}